$primary: #079992;
$secondary: #079992;
$success: #82ccdd;
$info: #6a89cc;
$warning: #f6b93b;
$danger: #b71540;
$light: #808e9b;
$dark: #0a3d62;




@import "../node_modules/bootstrap/scss/bootstrap";
